body {
    font-family: Arial;
    color: black;
    background-color: white;
  }
  
  nav {
    background-color: lightblue;
    color: white;
    padding: 20px;
    text-align: right;
    display: flex;
    justify-content: space-evenly;
  }
  
  header {
    background-color: lightblue;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  main {
    background: white;
    padding: 1rem;
    margin: 1rem auto;
    border: solid;
    grid-template-columns: 1fr / 4fr;
    grid-template-rows: 1fr / 4fr;
}
  
  footer {
    background-color: lightblue;
    color: white;
    padding: 20px;
    text-align: center;
  }

  section {
    border: solid;
  }
  